<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.config.database.dao.DatabaseMapper">
	<!-- sql备注： 不允许使用$,只能使用#来设值，防止sql注入 -->

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.mybatis.config.database.entity.Database">
		insert into t_config_database (
		    id, create_time, update_time, status,ip,
		    database_name, username, password, used,
		    driver_class_name,mysqldump_path, database_type,
		    params
		) values (
		    #{id}, #{createTime}, #{updateTime}, #{status},
		    #{ip}, #{databaseName}, #{username}, #{password}, #{used},
		    #{driverClassName},#{mysqldumpPath},#{databaseType},#{params}
		)
	</insert>

	<!-- 查询一条数据 -->
	<select id="get" parameterType="String" resultType="com.mybatis.config.database.entity.Database">
        select * from t_config_database t where 1 = 1 and t.status = 1 and id = #{id}
    </select>

	<!-- 根据条件查询集合 -->
	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.config.database.entity.Database">
        select
            *
        from
            t_config_database t
        where
            1 = 1
            and t.status = 1
            <if test="ip != null and ip!= ''">
                and ip like concat(concat('%',#{ip},'%'))
            </if>
            <if test="databaseName != null and databaseName != ''">
                and database_name like concat(concat('%',#{databaseName},'%'))
            </if>
            <if test="username != null and username != ''">
                and username like concat(concat('%',#{username},'%'))
            </if>
            <if test="used != null and used != ''">
                and used = #{used}
            </if>
    </select>

	<!-- 根据条件查询分页 -->
	<select id="queryPageByMap"
            parameterType="java.util.Map"
            resultType="com.mybatis.config.database.entity.Database">
        select
            *
        from
            t_config_database t
        where
            1 = 1 and t.status = 1
            <if test="ip != null and ip!= ''">
                and ip like concat(concat('%',#{ip},'%'))
            </if>
            <if test="databaseName != null and databaseName != ''">
                and database_name like concat(concat('%',#{databaseName},'%'))
            </if>
            <if test="username != null and username != ''">
                and username like concat(concat('%',#{username},'%'))
            </if>
            <if test="used != null and used != ''">
                and used = #{used}
            </if>
        order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
    </select>

    <select id="queryTableNameAndCommentByMap"
            parameterType="java.util.Map"
            resultType="com.mybatis.config.database.entity.TableComment">
        SELECT
            table_name AS tableName,
            table_comment AS tableComment
        FROM
            information_schema.tables
        WHERE table_schema = #{databaseName}
    </select>

    <select id="queryTableNameAndCommentByPageMap"
            parameterType="java.util.Map"
            resultType="com.mybatis.config.database.entity.TableComment">
        SELECT
            table_name AS tableName,
            table_comment AS tableComment
        FROM
            information_schema.tables
        WHERE
            table_schema = #{databaseName}
        limit #{startRow}, #{size}
    </select>

    <select id="queryConnectDatabase" resultType="com.mybatis.config.database.entity.Database">
        select * from
        (
          select
        (
        select count(*)
        from t_config_user_db t
            where
              t.database_id = tcd.id
          ) as connect_count
            ,tcd.*
        from t_config_database tcd
        ) d where d.connect_count &lt;= 1 and database_name like 'mybatis_%'
        order by d.connect_count,d.create_time asc
    </select>

    <select id="queryConnectUserPageByCondition" parameterType="java.util.Map" resultType="com.mybatis.config.database.entity.ConnectDatabaseUser">
        select u.real_name, u.login_name, u.locked,
			u.enable, u.email, u.mobile, u.remark, u.position,
			u.last_login_time, u.id, u.create_time, u.update_time, u.status
		from
		    sys_user u
		    left join t_config_user_db tcd
		    on id = user_id and tcd.status = 1
		where
		    tcd.database_id = ${databaseId}
		    and u.status = 1
		    and u.real_name like concat('%', #{realName}, '%')
		    and u.login_name like concat('%', #{loginName}, '%')
    </select>
</mapper>
