<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.platform.menu.dao.MenuMapper">
    <insert id="insert" parameterType="com.mybatis.platform.menu.entity.Menu">
		insert into sys_menu(
            id,create_time, update_time, status,
            code, name, url, alias, menu_id,
            enable, shows, remark, sort, show_index,local_code
		)
		values (
            #{id}, #{createTime}, #{updateTime}, #{status},
            #{code}, #{name}, #{url}, #{alias},
            #{menuId}, #{enable}, #{shows}, #{remark}, #{sort},
            #{showIndex}, #{localCode}
		)
	</insert>

    <delete id="delete" parameterType="java.lang.String">
		delete from sys_menu where id = #{id}
	</delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from sys_menu where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.mybatis.platform.menu.entity.Menu">
        update sys_menu
        <trim prefix="set" prefixOverrides="," suffixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="localCode != null and localCode != ''">local_code = #{localCode},</if>
            <if test="alias != null and alias != ''">alias = #{alias},</if>
            <if test="menuId != null and menuId != ''">menu_id = #{menuId},</if>
            <if test="showIndex != null and showIndex != ''">show_index = #{showIndex},</if>
            <if test="enable != null and enable != ''">enable = #{enable},</if>
            <if test="shows != null and shows != ''">shows = #{shows},</if>
            remark = #{remark}
        </trim>
        where id = #{id}
    </update>

    <update id="updateBatch" parameterType="com.mybatis.platform.menu.entity.Menu">
        update sys_menu
        <trim prefix="set" prefixOverrides=",">
            <if test="id != null">id = #{id},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="localCode != null and localCode != ''">local_code = #{localCode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="alias != null and alias != ''">alias = #{alias},</if>
            <if test="menuId != null and menuId != ''">menu_id = #{menuId},</if>
            <if test="enable != null and enable != ''">enable = #{enable},</if>
            <if test="shows != null and shows != ''">shows = #{shows},</if>
            remark = #{remark}
        </trim>
        where id = #{id}
    </update>

    <select id="get" parameterType="String" resultType="com.mybatis.platform.menu.entity.Menu">
		select 
            id, create_time, update_time,
            status, code, name, url, alias,
            menu_id, enable, shows, remark, sort,local_code
		from sys_menu where id = #{id}
	</select>
    <select id="getObject"
            parameterType="com.mybatis.platform.menu.entity.Menu"
            resultType="com.mybatis.platform.menu.entity.Menu">
		select 
            id, create_time, update_time,
            status, code, name, url, alias,
            menu_id, enable, shows, remark, sort,local_code
		from sys_menu where id = #{id}
	</select>

    <select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.menu.entity.Menu">
        select
        id, create_time, update_time,
        status, code, name, url, alias,
        menu_id, enable, shows, remark, t.sort sort, local_code
        from sys_menu t
        <include refid="conditions" />
    </select>

    <select id="queryListByObject"
            parameterType="com.mybatis.platform.menu.entity.Menu"
            resultType="com.mybatis.platform.menu.entity.Menu">
        select
        id, create_time, update_time,
        status, code, name, url, alias,
        menu_id, enable, shows, remark, t.sort sort, local_code
        from sys_menu t
        <include refid="conditions" />
    </select>

    <select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.menu.entity.Menu">
        select
            id, create_time, update_time,
            status, code, name, url, alias, local_code,
            menu_id, enable, shows, remark, m.sort sort,
            (
                select
                  t.name
                from
                  sys_menu t
                where
                  t.id = m.menu_id
            ) as parentName
        from sys_menu m
          <include refid="conditions" />
        order by
        <choose>
            <when test="order != null">${order} ${sort}</when>
            <when test="order != null">create_time desc</when>
        </choose>
    </select>

    <select id="queryMenuByParentIsNull" resultType="com.mybatis.platform.menu.entity.Menu">
        select
            *
        from
            sys_menu m
        where
            m.status = 1
            and (
                m.menu_id = ''
                or m.menu_id = null
                or m.menu_id is null
            )
        order by
            m.sort asc
    </select>
    <!--根据父节点查询菜单-->
    <select id="queryMenuByMenuId"
            parameterType="com.mybatis.platform.menu.entity.Menu"
            resultType="com.mybatis.platform.menu.entity.Menu">
        select
            *
        from
            sys_menu m
        where
            m.menu_id = #{id}
            and m.enable = 1
            and m.shows = 1
            and m.status = 1
        order by
            m.sort asc
    </select>

    <sql id="conditions">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null and alias != ''">and id = #{id}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="code != null and code != ''">and code = #{code}</if>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            <if test="localCode != null and localCode != ''">and local_code like concat('%',#{localCode},'%')</if>
            <if test="url != null and url != ''">and url like concat('%',#{url},'%')</if>
            <if test="alias != null and alias != ''">and alias like concat('%',#{alias},'%')</if>
            <if test="menuId != null and menuId != ''">and menu_id = #{menuId}</if>
            <if test="enable != null and enable != ''">and enable = #{enable}</if>
            <if test="shows != null and shows != ''">and shows = #{shows}</if>
        </trim>
    </sql>

    <select id="queryMenuByRoleList" parameterType="java.util.List" resultType="com.mybatis.platform.menu.entity.Menu">
        select
            m.id, m.create_time, m.update_time,
            m.status, code, m.name, m.url, m.alias, m.local_code,
            m.menu_id, enable, m.shows, m.remark, m.sort sort,
            (
                select
                  t.name
                from
                  sys_menu t
                where
                  t.id = m.menu_id
            ) as parentName
        from sys_menu m, sys_role_menu sm

        where
          m.id = sm.menu_id
          and m.status = 1 and sm.role_id in
          (<foreach collection="list" item="item" separator=",">#{item.id}</foreach>)
    </select>
</mapper>
