<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.system.optlog.dao.OptLogMapper">
	<insert id="insert" parameterType="com.mybatis.system.optlog.entity.OptLog">
		insert into sys_opt_log(
			id, create_time, update_time, status,
			username, user_id, message, method,
			clazz, opt_type, data
		)
		values (
			#{id}, #{createTime}, #{updateTime}, #{status},
			#{username}, #{userId}, #{message},
			#{method}, #{clazz}, #{optType},#{data}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from sys_opt_log where id = #{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from sys_opt_log where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.system.optlog.entity.OptLog">
		update sys_opt_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null">id = #{id},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="username != null">username = #{username},</if>
			<if test="data != null">data = #{data},</if>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="message != null">message = #{message},</if>
			<if test="method != null">method = #{method},</if>
			<if test="clazz != null">clazz = #{clazz},</if>
			<if test="optType != null">opt_type = #{optType},</if>
		</trim>	
		where id = #{id}
	</update>
	
	<update id="updateBatch" parameterType="com.mybatis.system.optlog.entity.OptLog">
		update sys_opt_log 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null">id = #{id},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="username != null">username = #{username},</if>
			<if test="data != null">data = #{data},</if>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="message != null">message = #{message},</if>
			<if test="method != null">method = #{method},</if>
			<if test="clazz != null">clazz = #{clazz},</if>
			<if test="optType != null">opt_type = #{optType},</if>
		</trim>	
		where id = #{id}
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.system.optlog.entity.OptLog">
		select 
			id, create_time, update_time,
			status, username, user_id,
			message, method, clazz, opt_type, data
		from sys_opt_log where id = #{id}
	</select>
	<select id="getObject" 
			parameterType="com.mybatis.system.optlog.entity.OptLog"
			resultType="com.mybatis.system.optlog.entity.OptLog">
		select 
			id, create_time, update_time,
			status, username, user_id,
			message, method, clazz, opt_type, data
		from sys_opt_log where id = #{id}
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.system.optlog.entity.OptLog">
		select 
			id, create_time, update_time,
			status, username, user_id,
			message, method, clazz, opt_type, data
		from sys_opt_log
		<include refid="conditions" />
	</select>
	
	<select id="queryListByObject" 
			parameterType="com.mybatis.system.optlog.entity.OptLog"
			resultType="com.mybatis.system.optlog.entity.OptLog">
		select 
			id, create_time, update_time,
			status, username, user_id,
			message, method, clazz, opt_type, data
		from sys_opt_log
		<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.system.optlog.entity.OptLog">
		select 
			id, create_time, update_time,
			status, username, user_id,
			message, method, clazz, opt_type, data
		from sys_opt_log
		<include refid="conditions" />
		order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">and id = #{id}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
			<if test="username != null and username != ''">and username = #{username}</if>
			<if test="data != null and data != ''">and data = #{data}</if>
			<if test="userId != null and userId != ''">and user_id = #{userId}</if>
			<if test="message != null and message != ''">and message = #{message}</if>
			<if test="method != null and method != ''">and method = #{method}</if>
			<if test="clazz != null and clazz != ''">and clazz = #{clazz}</if>
			<if test="optType != null and optType != ''">and opt_type = #{optType}</if>
		</trim>
	</sql>
</mapper>
