<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.deploy.category.dao.CategoryMapper">
	<insert id="insert" parameterType="com.mybatis.deploy.category.entity.Category">
		insert into t_d_category(
				id,
				create_time,
				update_time,
				status,
				name,
				code,
				category_id,
				type
		)
		values (
				#{id},
				#{createTime},
				#{updateTime},
				#{status},
				#{name},
				#{code},
				#{categoryId},
				#{type}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from t_d_category where id = #{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from t_d_category where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.deploy.category.entity.Category">
		update t_d_category 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null and id != ''">id = #{id},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="code != null and code != ''">code = #{code},</if>
			<if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
			<if test="type != null and type != ''">type = #{type},</if>
		</trim>	
		where id = #{id}
	</update>
	
	<update id="updateBatch" parameterType="com.mybatis.deploy.category.entity.Category">
		update t_d_category 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null and id != ''">id = #{id},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="code != null and code != ''">code = #{code},</if>
			<if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
			<if test="type != null and type != ''">type = #{type},</if>
		</trim>	
		where id = #{id}
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.deploy.category.entity.Category">
		select 
			id,
			create_time,
			update_time,
			status,
			name,
			code,
			category_id,
			type
		from t_d_category where id = #{id}
	</select>
	<select id="getObject" 
			parameterType="com.mybatis.deploy.category.entity.Category" 
			resultType="com.mybatis.deploy.category.entity.Category">
		select 
			id,
			create_time,
			update_time,
			status,
			name,
			code,
			category_id,
			type
		from t_d_category where id = #{id}
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.deploy.category.entity.Category">
		select 
			id,
			create_time,
			update_time,
			status,
			name,
			code,
			category_id,
			type
		from t_d_category
		<include refid="conditions" />
	</select>
	
	<select id="queryListByObject" 
			parameterType="com.mybatis.deploy.category.entity.Category" 
			resultType="com.mybatis.deploy.category.entity.Category">
		select 
			id,
			create_time,
			update_time,
			status,
			name,
			code,
			category_id,
			type
		from t_d_category
		<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.deploy.category.entity.Category">
		select 
			id,
			create_time,
			update_time,
			status,
			name,
			code,
			category_id,
			type
		from t_d_category
		<include refid="conditions" />
		order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">and id = #{id}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
			<if test="name != null and name != ''">and name = #{name}</if>
			<if test="code != null and code != ''">and code = #{code}</if>
			<if test="categoryId != null and categoryId != ''">and category_id = #{categoryId}</if>
			<if test="type != null and type != ''">and type = #{type}</if>
		</trim>
	</sql>
</mapper>
