<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
  	<!-- use-expressions=”true” 需要使用表达式方式来写权限-->
	<security:http use-expressions="false">
		<!--这是spring 提供的http/https信道安全的这个是重要的！你的请求信道是安全的！-->
	   	<!--
	   		释放用户登陆page 允许任何人访问该页面 ，IS_AUTHENTICATED_ANONYMOUSLY表示不拦截
	   		另一种不拦截资源的配置：<http pattern="/login.jsp" security="none">
	   	-->
	   	<security:intercept-url pattern="/static/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	   	<security:intercept-url pattern="/auth/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/login.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<!-- 配置用户正常访问page-->
	    <security:intercept-url pattern="/**" access="ROLE_USER"/>
	    <!-- 自定义用户登陆page default-target-url登陆成功跳转的page ，authentication-failure-url="/login.jsp?error=true"这里是登陆失败跳转的page-->
	    <security:form-login login-page="/login.do" 
	    	default-target-url="/index.do" 
	    	login-processing-url="/user/login.do"
	    	authentication-success-handler-ref="loginSuccessHandler"
    		password-parameter="password" 
    		username-parameter="username"/>
	  	<!-- 登出功能 -->
        <security:logout/>
        <security:csrf disabled="true" />
		<security:custom-filter ref="authenticationFilter" before="FORM_LOGIN_FILTER"/>
	</security:http>
	<bean id="loginSuccessHandler" class="com.authority.auth.handler.LoginSuccessHandler" >
		<property name="forwardToDestination" value="false" />
		<property name="defaultTargetUrl" value="/index.do"/>
	</bean>
	<!-- 自定义过滤器 -->
	<bean id="authenticationFilter" class="com.authority.auth.filter.MyUsernamePasswordAuthenticationFilter">
        <property name="filterProcessesUrl" value="/login.json" />
        <property name="authenticationManager" ref="authenticationManager" />
    </bean>
    
    <bean id="passwordEncoder" class="com.authority.auth.password.PasswordEncoderBean" />
    <security:authentication-manager alias="authenticationManager">
    	<security:authentication-provider user-service-ref="userDetailsService">
    		<security:password-encoder ref="passwordEncoder" />
    	</security:authentication-provider>
    </security:authentication-manager>
    <bean class="com.authority.auth.service.UserDetailsServiceImpl" id="userDetailsService"/>
</beans>
