<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.platform.userrole.entity.UserRole">
	<insert id="insert" parameterType="com.mybatis.platform.userrole.entity.UserRole">
		insert into sys_user_role(
				status,
				user_id,
				role_id,
				id,
				create_time,
				update_time
		)
		values (
				#{status},
				#{userId},
				#{roleId},
				#{id},
				#{createTime},
				#{updateTime}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from sys_user_role where id = #{userRoleId}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from sys_user_role where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{userRoleId}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.platform.userrole.entity.UserRole">
		update sys_user_role 
		<trim prefix="set" suffixOverrides=",">
			<if test="status != null">status = #{status},</if>
			<if test="userId != null">user_id = #{userId},</if>
			<if test="roleId != null">role_id = #{roleId},</if>
			<if test="id != null">id = #{id},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</trim>	
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.platform.userrole.entity.UserRole">
		select 
				status,
				user_id,
				role_id,
				id,
				create_time,
				update_time
		from sys_user_role where id = #{userRoleId}
	</select>

	<select id="queryAll" parameterType="String" resultType="com.mybatis.platform.userrole.entity.UserRole">
		select * from sys_user_role
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.userrole.entity.UserRole">
		select 
				status,
				user_id,
				role_id,
				id,
				create_time,
				update_time
		from sys_user_role
			where 1 = 1 
			<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.userrole.entity.UserRole">
		select 
				status,
				user_id,
				role_id,
				id,
				create_time,
				update_time
		from sys_user_role
			where 1 = 1 
			<include refid="conditions" />
		order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
        limit #{startRow}, #{size}
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="status != null">and status = #{status}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="roleId != null">and role_id = #{roleId}</if>
			<if test="id != null">and id = #{id}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
		</trim>
	</sql>
</mapper>
