<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.platform.menu.entity.Menu">
	<insert id="insert" parameterType="com.mybatis.platform.menu.entity.Menu">
		insert into sys_menu(
				id,
				create_time,
				update_time,
				status,
				code,
				name,
				url,
				alias,
				menu_id,
				enable,
				shows,
				remark
		)
		values (
				#{id},
				#{createTime},
				#{updateTime},
				#{status},
				#{code},
				#{name},
				#{url},
				#{alias},
				#{menuId},
				#{enable},
				#{shows},
				#{remark}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from sys_menu where id = #{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from sys_menu where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{menuId}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.platform.menu.entity.Menu">
		update sys_menu 
		<trim prefix="set" prefixOverrides=",">
			1=1
			<if test="id != null">id = #{id},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="code != null">code = #{code},</if>
			<if test="name != null">name = #{name},</if>
			<if test="url != null">url = #{url},</if>
			<if test="alias != null">alias = #{alias},</if>
			<if test="menuId != null">menu_id = #{menuId},</if>
			<if test="enable != null">enable = #{enable},</if>
			<if test="shows != null">shows = #{shows},</if>
			<if test="remark != null">remark = #{remark},</if>
		</trim>	
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.platform.menu.entity.Menu">
		select 
			id, create_time, update_time, status,
			code, name, url, alias, menu_id,
			enable, shows, remark
		from sys_menu where id = #{id}
	</select>

	<select id="queryAll" parameterType="String" resultType="com.mybatis.platform.menu.entity.Menu">
		select * from sys_menu
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.menu.entity.Menu">
		select 
			id, create_time, update_time, status,
			code, name, url, alias, menu_id,
			enable, shows, remark
		from sys_menu
			where 1 = 1 
			<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.menu.entity.Menu">
		select 
			id, create_time, update_time, status,
			code, name, url, alias, menu_id,
			enable, shows, remark
		from sys_menu
			where 1 = 1 
			<include refid="conditions" />
        <if test="order != null">order by ${order} ${sort}</if>
        limit #{startRow}, #{size}
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id = #{id}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="status != null">and status = #{status}</if>
			<if test="code != null">and code = #{code}</if>
			<if test="name != null">and name = #{name}</if>
			<if test="url != null">and url = #{url}</if>
			<if test="alias != null">and alias = #{alias}</if>
			<if test="menuId != null">and menu_id = #{menuId}</if>
			<if test="enable != null">and enable = #{enable}</if>
			<if test="shows != null">and shows = #{shows}</if>
			<if test="remark != null">and remark = #{remark}</if>
		</trim>
	</sql>
</mapper>
