<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.deploy.poster.dao.PosterMapper">
	<insert id="insert" parameterType="com.mybatis.deploy.poster.entity.Poster">
		insert into t_d_poster(
				id,
				create_time,
				update_time,
				status,
				attachment_id,
				sort,
				remaker,
				url
		)
		values (
				#{id},
				#{createTime},
				#{updateTime},
				#{status},
				#{attachmentId},
				#{sort},
				#{remaker},
				#{url}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from t_d_poster where id = #{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from t_d_poster where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.deploy.poster.entity.Poster">
		update t_d_poster 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null and id != ''">id = #{id},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="attachmentId != null and attachmentId != ''">attachment_id = #{attachmentId},</if>
			<if test="sort != null and sort != ''">sort = #{sort},</if>
			<if test="remaker != null and remaker != ''">remaker = #{remaker},</if>
			<if test="url != null and url != ''">url = #{url},</if>
		</trim>	
		where id = #{id}
	</update>
	
	<update id="updateBatch" parameterType="com.mybatis.deploy.poster.entity.Poster">
		update t_d_poster 
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null and id != ''">id = #{id},</if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="attachmentId != null and attachmentId != ''">attachment_id = #{attachmentId},</if>
			<if test="sort != null and sort != ''">sort = #{sort},</if>
			<if test="remaker != null and remaker != ''">remaker = #{remaker},</if>
			<if test="url != null and url != ''">url = #{url},</if>
		</trim>	
		where id = #{id}
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.deploy.poster.entity.Poster">
		select 
			id,
			create_time,
			update_time,
			status,
			attachment_id,
			sort,
			remaker,
			url
		from t_d_poster where id = #{id}
	</select>
	<select id="getObject" 
			parameterType="com.mybatis.deploy.poster.entity.Poster" 
			resultType="com.mybatis.deploy.poster.entity.Poster">
		select 
			id,
			create_time,
			update_time,
			status,
			attachment_id,
			sort,
			remaker,
			url
		from t_d_poster where id = #{id}
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.deploy.poster.entity.Poster">
		select 
			id,
			create_time,
			update_time,
			status,
			attachment_id,
			sort,
			remaker,
			url
		from t_d_poster
		<include refid="conditions" />
	</select>
	
	<select id="queryListByObject" 
			parameterType="com.mybatis.deploy.poster.entity.Poster" 
			resultType="com.mybatis.deploy.poster.entity.Poster">
		select 
			id,
			create_time,
			update_time,
			status,
			attachment_id,
			sort,
			remaker,
			url
		from t_d_poster
		<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.deploy.poster.entity.Poster">
		select 
			id,
			create_time,
			update_time,
			status,
			attachment_id,
			sort,
			remaker,
			url
		from t_d_poster
		<include refid="conditions" />
		order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">and id = #{id}</if>
			<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
			<if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
			<if test="status != null and status != ''">and status = #{status}</if>
			<if test="attachmentId != null and attachmentId != ''">and attachment_id = #{attachmentId}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="remaker != null and remaker != ''">and remaker = #{remaker}</if>
			<if test="url != null and url != ''">and url = #{url}</if>
		</trim>
	</sql>
</mapper>
