<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd"
       default-lazy-init="false">

    <context:annotation-config />
    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
    <context:component-scan base-package="com.iss,com.mybatis">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <bean class="com.mybatis.core.orm.config.SpringContextHolder"/>
    <!-- 将多个配置文件位置放到列表中 -->
    <bean id="propertyResources" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>classpath*:application.properties</value>
                <value>classpath*:redis.properties</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- 将配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" ref="propertyResources" />
    </bean>

    <!-- 数据库连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="1" />
        <property name="minIdle" value="1" />
        <property name="maxActive" value="10" />

        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="10000" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="testWhileIdle" value="true" />
        <!-- 这里建议配置为TRUE，防止取到的连接不可用 -->
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="false" />
        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
        <!-- 这里配置提交方式，默认就是TRUE，可以不用配置 -->
        <property name="defaultAutoCommit" value="true" />
        <!-- 验证连接有效与否的SQL，不同的数据配置不同 -->
        <property name="validationQuery" value="select 1 " />
        <property name="filters" value="stat" />
        <property name="proxyFilters">
            <list>
                <ref bean="statFilter"/>
                <ref bean="logFilter"/>
            </list>
        </property>
    </bean>
    <bean id="statFilter" class="com.alibaba.druid.filter.logging.Slf4jLogFilter">
        <property name="statementExecutableSqlLogEnable" value="false"/>
        <property name="dataSourceLogEnabled" value="false"/>
    </bean>
    <bean id="logFilter" class="com.alibaba.druid.filter.stat.StatFilter">
        <property name="slowSqlMillis" value="50"/>
        <property name="logSlowSql" value="false"/>
        <property name="mergeSql" value="false"/>
    </bean>
    <!-- 配置SqlMapClient对象 -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:com/mybatis/**/*Mapper.xml</value>
            </list>
        </property>
    </bean>
    <mybatis-spring:scan base-package="com.mybatis.**.dao" />

    <bean id="initConfig" class="com.mybatis.copy.InitConfig">
        <property name="suffix" value=".ftl"/>
        <property name="targetDir" value="views"/>
        <property name="fileType" value="2" />
        <property name="absoluteWebappPath" value="D:\develop\tools\sts\works\20180522\mybatis\mybatis-mapper\src\main\webapp"/>
        <property name="jars">
            <list>
                <value>platform-1.0-SNAPSHOT.jar</value>
                <value>mybatis-config-1.0-SNAPSHOT.jar</value>
            </list>
        </property>
    </bean>
    <bean class="com.mybatis.copy.CopyInit" id="copyInit" init-method="init"/>

    <!-- 编程式事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven />

    <!-- 扫描包，生成数据库表 -->
    <bean class="com.mybatis.core.scan.ScanPackage" init-method="init">
        <property name="basePackage" value="com.mybatis"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="connectUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="dbName" value="mybatis"/>
    </bean>
    <bean id="messageResources" class="com.mybatis.interceptor.MessageResources" scope="singleton">
        <property name="basenames">
            <list>
                <value>i18n.common</value>
                <value>i18n.menu</value>
                <value>i18n.database</value>
            </list>
        </property>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="cacheMillis" value="3000"/>
        <property name="fallbackToSystemLocale" value="true" />
    </bean>

    <import resource="application-redis.xml"/>

    <!-- 初始化用户到redis中 -->
    <bean class="com.mybatis.utils.InitEnvironment" init-method="init"/>
</beans>