<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.platform.basedata.dao.BaseDataMapper">
	<insert id="insert" parameterType="com.mybatis.platform.basedata.entity.BaseData">
		insert into sys_base_data(
            id, create_time, update_time,
            status, code, name, val, sort,
            remark, enable, base_data_id
		)
		values (
            #{id}, #{createTime}, #{updateTime},
            #{status}, #{code}, #{name},
            #{val},#{sort}, #{remark}, #{enable}, #{baseDataId}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from sys_base_data where id = #{id}
	</delete>

	<delete id="deleteBatch" parameterType="java.util.List">
		delete from sys_base_data where id in 
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="update" parameterType="com.mybatis.platform.basedata.entity.BaseData">
		update sys_base_data 
		<trim prefix="set" prefixOverrides="," suffixOverrides=",">
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="code != null">code = #{code},</if>
			<if test="name != null">name = #{name},</if>
			<if test="sort != null">sort = #{sort},</if>
			<if test="val != null">val = #{val},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="enable != null">enable = #{enable},</if>
			<if test="baseDataId != null">base_data_id = #{baseDataId},</if>
		</trim>	
		where id = #{id}
	</update>
	
	<update id="updateBatch" parameterType="com.mybatis.platform.basedata.entity.BaseData">
		update sys_base_data 
		<trim prefix="set" prefixOverrides=",">
			<if test="id != null">id = #{id},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="code != null">code = #{code},</if>
			<if test="name != null">name = #{name},</if>
			<if test="sort != null">sort = #{sort},</if>
			<if test="val != null">val = #{val},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="enable != null">enable = #{enable},</if>
			<if test="baseDataId != null">delbase_data_id = #{baseDataId},</if>
		</trim>	
		where id = #{id}
	</update>

	<select id="get" parameterType="String" resultType="com.mybatis.platform.basedata.entity.BaseData">
		select 
			id, create_time, update_time,
            status, code, name, val,d.sort,
            remark, enable, base_data_id,
            (
				SELECT
					t.name
				FROM
					sys_base_data t
				WHERE
					t.id = d.base_data_id
			) AS parentName
		from sys_base_data d where id = #{id}
	</select>
	<select id="getObject" 
			parameterType="com.mybatis.platform.basedata.entity.BaseData" 
			resultType="com.mybatis.platform.basedata.entity.BaseData">
		select 
			id, create_time, update_time,
            status, code, name, val,d.sort,
            remark, enable, base_data_id,
            (
				SELECT
					t.name
				FROM
					sys_base_data t
				WHERE
					t.id = d.base_data_id
			) AS parentName
		from sys_base_data d where id = #{id}
	</select>

	<select id="queryListByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.basedata.entity.BaseData">
		select
            id, create_time, update_time,
            status, code, name, val,d.sort,
            remark, enable, base_data_id,
			(
				SELECT
					t.name
				FROM
					sys_base_data t
				WHERE
					t.id = d.base_data_id
			) AS parentName
		from sys_base_data d
		<include refid="conditions" />
	</select>
	
	<select id="queryListByObject" 
			parameterType="com.mybatis.platform.basedata.entity.BaseData" 
			resultType="com.mybatis.platform.basedata.entity.BaseData">
		select
            id, create_time, update_time,
            status, code, name, val,d.sort,
            remark, enable, base_data_id,
			(
				SELECT
					t.name
				FROM
					sys_base_data t
				WHERE
					t.id = d.base_data_id
			) AS parentName
        from sys_base_data d
		<include refid="conditions" />
	</select>

	<select id="queryPageByMap" parameterType="java.util.Map" resultType="com.mybatis.platform.basedata.entity.BaseData">
		select
            id, create_time, update_time,
            status, code, name, val,d.sort,
            remark, enable, base_data_id,
			(
				SELECT
					t.name
				FROM
					sys_base_data t
				WHERE
					t.id = d.base_data_id
			) AS parentName
		from sys_base_data d
		<include refid="conditions" />
		order by
            <choose>
                <when test="order != null">${order} ${sort}</when>
                <when test="order != null">create_time desc</when>
            </choose>
	</select>

	<sql id="conditions">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null">and id = #{id}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="status != null">and status = #{status}</if>
			<if test="code != null">and code = #{code}</if>
			<if test="name != null">and name = #{name}</if>
			<if test="val != null">and val = #{val}</if>
			<if test="enable != null">and enable = #{enable}</if>
            <if test="remark != null">and remark = #{remark}</if>
            <if test="baseDataId != null">and delbase_data_id = #{baseDataId}</if>
		</trim>
	</sql>
</mapper>
